.contenter {
	width: 1350px;
	height: 850px;
	margin-top: 40px;
}

.about_us {
	width: 324px;
	height: 33px;
	margin: 30px auto;
}

#about_us_one {
	color: white;
	background-color: #0F74E3;
}

.about_us div {
	width: 138px;
	height: 100%;
	margin: 0 12px;
	float: left;
	text-align: center;
	line-height: 33px;
	font-size: 16px;
	color: #404140;
	background-color: #F2F1EF;
	cursor: pointer;
}

.about_us div:hover {
	color: white;
	background-color: #0F74E3;
}

.intro {
	width: 1010px;
	height: 700px;
	margin: 0 auto;
}

.intro p {
	font-size: 15px;
	line-height: 30px;
	color: #555451;
	
}

.development_history {
	width: 1300px;
	height: 1150px;
	margin-left: 170px;
	display: none;
}

.development_history h3 {
	font-size: 17px;
	color: #555451;
	line-height: 40px;
}

.development_history p {
	font-size: 15px;
	line-height: 50px;
	color: #555451;
}


