html,body,div,ul,li,input,p,a,h2,h3{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body { 
    font-size: 62.5%; 
    height: 100%;
    padding: 0; margin: 0; 
    min-width: 960px;
    font-size-adjust: none; 
    font-family: "微软雅黑", 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback'; 
    color: #000;
}
 
.header {
	width: 100%;
	min-width: 1350px;
	height: 632px;
}

.top:after {
	content: "";
	display: table;
	clear: both;
}

.top {
	width: 100%;
	height: 88px;
	zoom: 1;
}

.logo {
	width: 28%;
	height: 88px;
	float: left;
}

.logo img {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
}

.nav {
	width: 54%;
	height: 88px;
	float: left;
}

.nav ul {
	width: 100%;
	height: 100%;
	float: left;
	list-style-type: none;
	text-align: center;
}

.nav ul li {
	height: 100%;
	float: left;
	font-size: 15px;
	line-height: 88px;
}

.nav a {
	height: 88px;
	font-size: 15px;
	line-height: 88px;
	text-decoration: none;
	display: block;
	padding: 0 18px;
	color: black;
}

.bg {
	background-color: #f2f2f2;
}

.nav a:hover {
	background-color: #f2f2f2;
}

.search {
	width: 18%;
	height: 88px;
	float: left;
	padding-top: 27px;
	position: relative;
}

.search img {
	float: left;
	display: block;
	cursor: pointer;
}

.search input {
	width: 210px;
	height: 33px;
	position: absolute;
	top: 27px;
	right: 243px;
	display: none;
	background-color: #07BAE8;
	border: none;
}

.lang_zh_ch {
	width: 165px;
	height: 33px;
	float: left;
}

.lang_zh_ch a {
	text-decoration: none;
	padding: 0 9px;
	font-size: 13px;
	line-height: 33px;
}

.lang_zh_ch a:hover {
	text-decoration: underline;
	color: blue;
}

.banner {
	width: 100%;
	height: 543px;
	overflow: hidden;
	position: relative;
}

.banner:after {
	content: "";
	display: block;
	clear: both;
}

.banner ul {
	width: 300%;
	height: 100%;
	list-style-type: none;
	position: absolute;
	left: 0;
}

.banner ul li {
	width: 33.33%;
	height: 100%;
	float: left;
}

.banner ul li img {
	width: 100%;
	height: 543px;
	display: block;
}

.banner_index {
	width: 120px;
	position: absolute;
	bottom: 40px;
	left: 45%;
}

.banner_index ul {
	list-style-type: none;
}

.banner_index ul li {
	width: 10px;
	height: 10px;
	margin: 0 15px;
	background-color: #ccc;
	display: block;
	border-radius: 10px;
	float: left;
	cursor: pointer;
}

.banner_index ul li:hover {
	background-color: white;
	
}



.product_title {
	width: 80%;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.left_line,.right_line {
	width: 30%;
	border: 0.5px solid #ccc;
	position: relative;
	top: 14px;
}

.left_line {
	float: left;
	left: 30px;
}

.right_line {
	float: right;
	right: 35px;
}

.product_title h2 {
	font-size: 30px;
	font-weight: normal;
	display: inline;
}

.product_title h3 {
	font-size: 25px;
	font-weight: normal;
	color: #ccc;
	display: inline;
}



.footer {
	width: 1350px;
	height: 300px;
}

.footer_link {
	clear: both;
	width: 100%;
	min-width: 1200px;
	height: 250px;
	background-color: #4F4E4C;
	padding-top: 20px;
}

.footer_link_in {
	width: 1100px;
	height: 250px;
	margin: 0 auto;
}

.footer_link img {
	width: 45px;
	height: 45px;
	display: block;
	position: fixed;
	right: 28px;
	bottom: 90px;
}

.footer_link ul {
	list-style-type: none;
}

.footer_link ul li {
	margin: 20px 50px 0;
	float: left;
}

.footer_link ul li a {
	display: block;
	font-size: 14px;
	color: #B8B4AE;
	text-decoration: none;
	padding-top: 10px;
}

.footer_link_in ul li p {
	font-size: 16px;
	color: white;
}

.footer_link_in ul li a:hover {
	text-decoration: underline;
}

.footer_buttom {
	width: 100%;
	height: 50px;
	background-color: #383C3B;
}

.footer_buttom p {
	height: 100%;
	font-size: 15px;
	line-height: 50px;
	color: #B8B4AE;
	text-align: center;
}

.footer_buttom p a {
	color: #B8B4AE;
	text-decoration: none;
}

.footer_buttom p a:hover {
	text-decoration: underline;
}