.contenter {
	width: 1350px;
	height: 700px;
	margin-top: 40px;
}

.news {
	width: 324px;
	height: 33px;
	margin: 30px auto;
}

.news div {
	width: 138px;
	height: 100%;
	margin: 0 12px;
	float: left;
	text-align: center;
	line-height: 33px;
	font-size: 16px;
	color: #404140;
	background-color: #F2F1EF;
	cursor: pointer;
}

.news div:hover {
	color: white;
	background-color: #0F74E3;
}

.news_all {
	width: 1032px;
	height: 500px;
	margin: 33px auto;
}

.news_cont {
	width: 100%;
	height: 230px;
	margin-bottom: 45px;
}

.news_cont h2 {
	margin: 6px 0;
	float: left;
	font-size: 16px;
	color: #555451;
}

.news_a {
	margin: 6px 0;
	font-size: 15px;
	color: #555451;
	float: right;
	text-decoration: none;
}

.news_a:hover {
	text-decoration: underline;
}

.news_cont hr {
	clear: both;
	border: 0.5px solid #D0CDC7;
}

.news_cont img {
	width: 300px;
	height: 175px;
	margin: 16px 50px 0 0;
	float: left;
}

.news_cont ul {
	width: 680px;
	height: 175px;
	margin-top: 15px;
	float: left;
	list-style-type: none;
}

.news_cont ul li a {
	margin: 5px 0;
	font-size: 14px;
	color: #555451;
	text-decoration: none;
	float: left;
}

.news_cont ul li a:hover {
	text-decoration: underline;
}

.news_cont ul li span {
	margin: 5px 0;
	font-size: 13px;
	color: #555451;
	float: right;
}

.news_cont ul hr {
	border: 0.5px dashed #D0CDC7;
}

.news_create {
	width: 1032px;
	height: 500px;
	margin: 33px auto;
	display: none;
}

.news_create ul{
	width: 100%;
	height: 100%;
	list-style-type: none;
}

.create_a {
	margin: 8px 0;
	font-size: 14px;
	color: #555451;
	text-decoration: none;
	float: left;
}

.create_span {
	margin: 8px 0;
	font-size: 13px;
	color: #555451;
	float: right;
}

.create_hr {
	clear: both;
	border: 0.5px dashed #D0CDC7;
}

.news_build {
	width: 1032px;
	height: 200px;
	margin: 33px auto;
	display: none;
}

.news_build ul{
	width: 100%;
	height: 100%;
	list-style-type: none;
}



